:host {
  display: block;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu-items {
  display: flex;
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  height: 7vh; /* 20% of the viewport height */
  width: 50%; /* 100% of the parent width */
  align-items: center;
  margin: 1rem;
  justify-content: space-evenly;
  
}

.menu-items a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Maintain the default text color */
}

.menu-items li {
  margin-right: 20px; /* Adjust the spacing as needed */
 
}