:host {
  display: block;

}

/* app-menu-item.css */
.menu-item {
  text-decoration: non;
  transition: transform 0.3s ease;
}

.menu-item.active {
  transform: translateX(10px); /* Adjust as needed */
  font-weight: bold; /* Style for active item */
}

.menu-item a {
  text-decoration: none; /* Remove underline */
}

